<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p></p>
<table width="553" height="567">
<tbody>
<tr>
<td align="center" class="titleblock" style="padding: 7px 0;">
<p><span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"> <span class="title" style="font-weight: 500; font-size: 28px; text-transform: uppercase; line-height: 33px;">Hi {seller_name},</span><br /><br /></span></p>
<p><span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span class="title" style="font-weight: 500; font-size: 28px; text-transform: uppercase; line-height: 33px;"><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; text-align: start; background-color: #f8f8f8;">YOUR MEMBERSHIP PLAN IS ACTIVE NOW.</span></span></span></p>
</td>
</tr>
<tr>
<td class="box" style="border: 1px solid #D6D4D4; background-color: #f8f8f8; padding: 7px 14px;">
<p data-html-only="1" style="border-bottom: 1px solid #D6D4D4; margin: 3px 0 7px; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px;">plan Details</p>
<p><span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;"><span style="color: #333;"><strong>Plan Name:</strong></span> {plan_name}</span></span></p>
<p><span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;"><span style="color: #333;"><strong>Plan expiry Date:</strong></span> {last_date}</span></span></p>
<p><span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;"><span style="color: #333;"><strong>Plan Product Limit if any:</strong></span> {product_limit}</span></span></p>
</td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"></td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"></td>
</tr>
<tr>
<td class="box" style="border: 1px solid #D6D4D4; background-color: #f8f8f8; padding: 7px 14px;">
<p data-html-only="1" style="border-bottom: 1px solid #D6D4D4; margin: 3px 0 7px; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px;">Membership plan purchase Link - <a href="{plan_link}">Link to page</a></p>
<span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;"><span style="color: #333;"><strong>You can also check the membership plan list from your account menu.</strong></span><br /> </span> </span></td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"></td>
</tr>
<tr>
<td></td>
</tr>
</tbody>
</table>
    </body>
</html>
