<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
<table>
<tbody>
<tr>
<td align="center" class="titleblock" style="padding: 7px 0;"><span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"> <span class="title" style="font-weight: 500; font-size: 28px; text-transform: uppercase; line-height: 33px;">Hi {seller_name},</span><br /><br /></span></td>
</tr>
<tr>
<td class="box" style="border: 1px solid #D6D4D4; background-color: #f8f8f8; padding: 7px 14px;">
<p data-html-only="1" style="border-bottom: 1px solid #D6D4D4; margin: 3px 0 7px; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px;">your active membership plan has expired - </p>
<p><span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;"><span style="color: #333;"><span color="#333333" face="Open-sans, sans-serif" size="2" style="color: #333333; font-family: Open-sans, sans-serif; font-size: small;"><b>Your active membership plan is expired on </b></span></span></span></span><strong style="color: #333333; font-family: Open-sans, sans-serif; font-size: small;">{last_date}. So all your active products are deactivated already.</strong><strong style="color: #333333; font-family: Open-sans, sans-serif; font-size: small;"> They will remain deactivated until you purchase a valid membership Plan. So kindly purchase/activate the membership plan to continue selling on </strong><strong style="color: #333333; font-family: Open-sans, sans-serif; font-size: small;"><strong>{shop_name}.</strong></strong></p>
<p></p>
<p><span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;"><span style="color: #333;"><strong style="color: #333333; font-family: Open-sans, sans-serif; font-size: small;"><strong>Plan Expired Date - </strong></strong></span></span></span><span color="#333333" face="Open-sans, sans-serif" size="2" style="color: #333333; font-family: Open-sans, sans-serif; font-size: small;"><b>{last_date}</b></span><strong style="color: #333333; font-family: Open-sans, sans-serif; font-size: small;"><strong></strong></strong></p>
</td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"></td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"></td>
</tr>
<tr>
<td class="box" style="border: 1px solid #D6D4D4; background-color: #f8f8f8; padding: 7px 14px;">
<p data-html-only="1" style="border-bottom: 1px solid #D6D4D4; margin: 3px 0 7px; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px;">Membership plan purchase Link - <a href="{plan_link}">Link to page</a></p>
<span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;"><span style="color: #333;"><strong>You can also check the membership plan list from your account menu.</strong></span><br /> </span> </span></td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"></td>
</tr>
<tr>
<td></td>
</tr>
</tbody>
</table>    </body>
</html>
