@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

.modal {
	.close {
		background: $clr-two;
		cursor: pointer;
		display: block;
		font: 14px/45px $second-icon-font;
		height: 45px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 45px;
		z-index: 1;
		&:hover{
			background: $brand-second;
			color: $white;
			opacity: 1;
		}
		span {
			display: none;
		}
		i{
			display: none;
		}
		&:before{
			content: '\e812';
		}
	}
	.modal-title {
		font-size: 22px;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;
	}
	.modal-dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;
	}
	.modal-content {
		width: 100%;
	}
}
.modal-header{
	border: none;
	padding: 6px 15px;
}
.modal-body{
	padding: 30px 15px;
}
@include media-breakpoint-up(sm){
	.modal-dialog{
		max-width: 650px;
	}
}