@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

.page-sitemap {
	#content-wrapper {
		width: 100%;
	}
	.container-fluid {
		padding: 0;
	}
	.sitemap{
		padding: 0;
		h2 {
			font-size: 22px;
		}
		ul {
			line-height: 2;
			margin: 0;
			font-size: 15px;
		}
		.nested {
			padding-left: 20px;
		}
	}
}