
.header-slide {
	.caption-description {
		opacity: 0;
		transition: opacity 1.1s .6s, transform 1.1s .4s;
		transform: translate(-70%, -50%);
	}
}
.active {
	.header-slide{
		.caption-description {
			opacity: 1;
			transform: translate(-50%, -50%);
			will-change: opacity, transform;
		}
	}
}