<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>codeop-calculate-distance</name>
	<displayName><![CDATA[Distance calculator · Code Operative]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Distance calculator and shipment method generator by Code Operative.]]></description>
	<author><![CDATA[Code Operative]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
