.panel-product-actions{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.wishlist-btn{
	background: $white;
	border: 1px solid;
	display: inline-block;
	font-family: $second-icon-font;
	color: $clr-five;
	font-size: 18px;
	height: 2.34em;
	line-height: 2.34em;
	padding: 0;
	text-align: center;
	vertical-align: bottom;
	width: 2.34em;
	&:hover{
		background: $black;
		color: $white;
	}
	&:active{
		background: lighten($black, 10%);
		color: $white;
	}
}
#wishlist_button{
	position: relative;
	#idWishlist{
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 6px;
		width: 95px;
    	opacity: 0;
    	visibility: hidden;
    	transform: translate(0, -50px);
    	transition: opacity .3s, visibility .3s, transform .3s;
	}
	&:hover{
		#idWishlist{
		    opacity: 1;
		    visibility: visible;
		    transform: translate(0, 0);
		}
	}
}