<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>xipblog</name>
    <displayName><![CDATA[Xpert Prestashop Blog Module by xpert-idea.com]]></displayName>
    <version><![CDATA[2.0.1]]></version>
    <description><![CDATA[XipBlog Powerfull Prestashop Blog Module by xpert-idea.com]]></description>
    <author><![CDATA[xpert-idea.com]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>