<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>htmlbanners1</name>
    <displayName><![CDATA[Top banners]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Adds a banner on top column.]]></description>
    <author><![CDATA[Prestahero]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>