.block-category{
	margin-bottom: 40px;
	h1 {
		font-size: 32px;
	    font-weight: 700;
	    line-height: 1.1;
	    margin-bottom: 12px;
	    text-transform: uppercase;
	}
}
#category-description {
    margin-bottom: 18px;
    font-size: 13px;
    p {
    	margin-bottom: 12px;
    }
}