.sidebar {
    .products-list {
        padding-top: 18px;
    }

    .product-miniature {
        margin-bottom: 18px;
        padding: 0 0 18px 0;

        border-bottom: 1px solid #dcdcdc;

        .variant-links,
        .product-list-reviews, .star-wrapper,
        .highlighted-informations,
        .product-flags {
            display: none;
        }
    }

    .thumbnail-container {
        &:after {
            display: table;
            clear: both;

            content: '';
        }
    }

    .thumbnail-wrapper {
        float: left;

        max-width: 80px;
        margin-right: 12px;

        border: 1px solid #e3e3e3;
    }

    .product-description {
        overflow: hidden;
    }

    .product-title {
        font-size: 13px;

        margin-bottom: 5px;

        text-transform: uppercase;
    }

    .product_desc {
        font-size: 12px;

        overflow: hidden;

        max-height: 58px;
        margin-bottom: 5px;

        color: #959595;
    }

    .price {
        font-size: 18px;
    }

    .btn {
        font-size: 12px;
        font-weight: 400;

        padding: 9px 12px;
    }
}